# Simple Creation

In [ ]:
import numpy as np
from pandas import DataFrame
from pandas import Series
import pandas as pd
from numpy.random import randint

## Syntax

    <identifier> = 
      pd.DataFrame(<data>, <index=np.arange(n)>, <column=np.arange(n)>)
    
- `<data>` can be `dict`, `list`, `np.array` 
    - Each column can have only one data type
    - Columns may have different data types

## From `dictionary`

In [ ]:
d1 = {'one': [1, 2, 3, 4],
      'two': [5, 6, 7, 8]}

In [ ]:
df1 = DataFrame(d1)
print(df1)

- The `0 1 2 3` down the side is the index
- The `one` and `two` are the column headers

### Adding Custom Index

In [ ]:
df2 = DataFrame(d1, index = ['a', 'b', 'c', 'd'], dtype = np.float64)
print(type(df2))
print(df2)

## From `list/np.array` with Custom `index` and `columns`

In [ ]:
df3 = DataFrame(np.array([np.arange(1.0, 5.0), 
                          np.arange(5.0, 9.0)]), 
          index = ['one', 'two'], columns = ['a', 'b', 'c', 'd'] )
print(df3)

## From `list` of `dictionary`s

In [ ]:
d2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df4 = DataFrame(d2, index = ['one', 'two'])
print(df4)

- `NaN` is `np.NaN`
    - It has type `np.float64`
    - Cannot use equality to test for `np.NaN`
    - Its `bool` value is `True`

## `index` and `column` Name Attributes

In [ ]:
df3

In [ ]:
df3.index.name = 'string_name'
df3.columns.name = 'letter_name'
df3

## Do Now!

1. In the next cell, create the following `DataFrame` with identifier of `dn1`

         one two three  four  five
       a   0   1     2   3.0   4.0
       b   a   b     c   NaN   NaN
       c   1   2     3   4.0   5.0

In [ ]:
# Place your answer here

* Answer is below

In [ ]:
dn1 = pd.DataFrame([ np.arange(5), 
                   ['a', 'b','c'], 
                   [1, 2, 3, 4, 5]], 
     columns = ['one', 'two', 'three', 'four', 'five'],
     index = ['a', 'b', 'c'])
print(dn1)

### Questions
1. What is the type of `dn1['one']`? </br>
    - **HINT:** Execute `dn1['one'].dtype`

In [ ]:
dn1['one'].dtype

## End of Notebook