# Assignment to DataFrame

In [ ]:
from pandas import DataFrame
from pandas import Series
import pandas as pd
import numpy as np

## Setup for Notebook

In [ ]:
df1 = DataFrame([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]], index = list('abc'), 
                columns = list('ABCD'))
df1

## Adding a Column

In [ ]:
df1['E'] = ['a', 'b', 'c']
df1

### Adding Series as Column

In [ ]:
s1 = Series(['A', 'B', 'C'], index = ['a','b','c'], name = 'F')

In [ ]:
# Create DataFrame from Series
print(s1.to_frame())

In [ ]:
# Set single column DataFrame to Column name
df1[s1.name] = s1.to_frame()
df1

- `s1.name` only works if the Series has a name

### Attribute Name Not Allowed

In [ ]:
df1.F = ['a1', 'b1', 'c1']
df1

### Inserting a Column
- By changing the name of the Series, you can insert the column where you like

## Adding a Row

### Add a Series as Row

In [ ]:
df1.loc['d'] = [13, 14, 15, 16, 'd', 'D']
df1

In [ ]:
s2 = Series([17, 18, 19, 20, 'e', 'f'], name = 'e')
print(s2.values)
df1.loc[s2.name] = s2.values

df1

### Inserting a Series
- You did not need to name the Series; you can use any index value and insert it in different locations
- It isn't really a Series that is being inserted, it is the list from the Series

## Changing a Single Value

In [ ]:
df1.at['a', 'D'] = 300
df1

In [ ]:
df1.iat[0, 2] = 3000
df1

## Changing Multiple Values

In [ ]:
df1.loc['a':'b', 'D'] = 75
df1

## Subsetting and Assignment

### Subsetting to `Series`

In [ ]:
subset_series1 = df1.loc['d':'e', 'A']
subset_series1

- **NOTICE** `subset_series1` is a view of `df1`
    - Changes to `subset_series1` change `df1`

In [ ]:
print(subset_series1)
print(type(subset_series1))

In [ ]:
subset_series1['d'] = 500
print(subset_series1)
print(df1)

####  Make a copy if you want to change to the new copy

In [ ]:
subset_series2 = df1.loc['d':'e', 'B'].copy()

In [ ]:
print(subset_series2)
print(type(subset_series2))

In [ ]:
subset_series2['e'] = 500
print(subset_series2)
print(df1)

### Subsetting to `DataFrame`

In [ ]:
subset_dataframe = df1.loc['a':'b', 'A':'B']
print(subset_dataframe)

In [ ]:
subset_dataframe.at['a', 'B'] = 2000
print(subset_dataframe)
print(df1)

## Swapping Values

### Columns

In [ ]:
df1.loc[:, ['B', 'A']] = df1[['A', 'B']].values
print(df1)

### Rows

In [ ]:
temp = df1.loc['a', :].copy()
print(type(temp))
df1.loc['a', :] = df1.loc['b', :]
df1.loc['b', :] = temp
print(df1)

## Chained Access

In [ ]:
series1 = df1['D']['c':'d']
print(type(series1))
print(series1)

- This is called a chained access
- This returns a view also
    - **It is a best practice not to use chained access**

## Do Now!

In [ ]:
# Given:
df2 = DataFrame([[1, 2], [10, 20]], index = ['one', 'two'], columns = ['A', 'B'])

# add columns of df3 to df2
df3 = DataFrame([[100, 200], [1000, 2000]], index = ['one', 'two'], columns = ['C', 'D'])

In [ ]:
# One Solution
df2['C'] = df3['C']
df2['D'] = df3['D']

df2

# End of Notebook