# Data Wrangling

In [ ]:
from pandas import DataFrame
from pandas import Series
import pandas as pd
from numpy.random import randint
from numpy.random import randn
import numpy as np

## Removing Duplicates

In [ ]:
df1 = DataFrame({'A': ['one'] * 3 + ['two'] * 4,
                 'B': [1, 1, 2, 3, 3, 4, 4]})
print(df1)

In [ ]:
print(df1.duplicated())
print(df1.drop_duplicates())

## `np.nan`

In [ ]:
df2 = DataFrame({'A': [3, 3, np.nan, np.nan, 7, 6, 5],
                 'B': [1, 1, np.nan, 3, 3, np.nan, 4]})
print(df2)

### Replacing `np.nan`

In [ ]:
df2.replace(np.nan, 200)

## Dropping Row Is `np.nan`

In [ ]:
df3 = DataFrame({'A': [3, 3, np.nan, np.nan, 7, 6, 5],
                 'B': [1, 1, np.nan, 3, 3, np.nan, 4]})
df3.dropna(axis = 0, how = 'all', inplace = True)
print(df3)

In [ ]:
df4 = DataFrame({'A': [3, 3, np.nan, np.nan, 7, 6, 5],
                 'B': [1, 1, np.nan, 3, 3, np.nan, 4]})
df4.dropna(axis = 0, how = 'any', inplace = True)
print(df4)

## Filter Outliers

In [ ]:
df5 = DataFrame(randn(1000, 4))
df5.describe()

In [ ]:
# Set value > 1 to np.nan in selected column
col = df5[0]
col[np.abs(col) > 1] = np.nan
col

# End of Notebook